main {
    text-align: center;
}

img {
    height: 300px;
}

.margaret {
    background-color: #3DDC84;
    padding: 1em;
    border-radius: 25px;
}

.user {
    background-color: #e6e6e6;
    padding: 1em;
    border-radius: 25px;
}

#the-answer {
    display: none;
}

#user-question {
    display: none;
}
